@import '../_constants';
@import '../_mixins';

.get {
    background-color: $base-blue;
    background-image: url(../img/get.png);
    background-repeat: no-repeat;
    background-position: right 70px top 70px;
    min-height: 534px;
    @include flex_center()
}

.get-body {
    max-width: 540px;

    &__title {
        margin-bottom: 27px;
        color: #fff;
    }

    &__text {
        margin-bottom: 27px;
        color: $light-blue;
    }

    &__btn {
        color: #fff; 
    }
}
@media (max-width: 1745px) {
    .get {
        background-image: none;
    }
}
